$primary:rgb(25,118,210);
$secondary:rgba(0,0,0,0.11);
$primary-tint-1: #3F94E9;
$text:rgba(26,38,35,0.8);
$box-shadow:0 1px 16px 0 rgba(0,0,0,0.2);
$tab-border: 1px solid $secondary;


.tab{
    display: block;
    border-left: $tab-border ;
    border-bottom: $tab-border ;
    border-right: $tab-border ;
    padding: 15px 25px;
}