<div class="container">

    <button (click)="toggle()">Toggle</button>

    <ng-template #headerButtons>
        <button mat-raised-button
        (click)="selectTab(login)"
        >Login</button>
        <button mat-stroked-button
        (click)="selectTab(signup)"
        >Sign Up</button>
        <button mat-stroked-button 
        *ngIf="showContactForm"
        (click)="selectTab(contact)"
        >Contact</button>
    </ng-template >

    <app-tab-group #tabGroup [headerTemplate]="headerButtons">

        <app-tab label="login" #login>

            <form [formGroup]="loginForm">
                <mat-form-field>
                    <mat-label>Email:</mat-label>
                    <input matInput type="email" formControlName="email"/>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Password:</mat-label>
                    <input matInput type="password" formControlName="password"/>
                </mat-form-field>
                <button mat-raised-button color="primary">
                    Login
                </button>
            </form>

        </app-tab>

        <app-tab label="Signup" #signup>

            <form [formGroup]="signupForm">
                <mat-form-field>
                    <mat-label>Email:</mat-label>
                    <input matInput type="email" formControlName="email"/>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Password:</mat-label>
                    <input matInput type="password" formControlName="password"/>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Confirm Password:</mat-label>
                    <input matInput type="password" formControlName="confirmPassword"/>
                </mat-form-field>
                <button mat-raised-button color="primary">
                    Sign Up!
                </button>
            </form>

        </app-tab>

        <app-tab label="Contact" #contact>

            <form [formGroup]="contactForm">
                <mat-form-field>
                    <mat-label>Email:</mat-label>
                    <input matInput type="email" formControlName="email"/>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Message:</mat-label>
                    <input matInput type="text" formControlName="message"/>
                </mat-form-field>
                <button mat-raised-button color="primary">
                    Login
                </button>
            </form>

        </app-tab>
        
    </app-tab-group>

</div>

    <!-- <div class="tab-panel">

        <ul class="tab-panel-buttons">
            <li class="selected">Login</li>
            <li >Signup</li>
            <li >Contact</li>

        </ul>
        <div class="tab">
            <form [formGroup]="loginForm">
                <mat-form-field>
                    <mat-label>Email:</mat-label>
                    <input matInput type="email" formControlName="email"/>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Password:</mat-label>
                    <input matInput type="password" formControlName="password"/>
                </mat-form-field>
                <button mat-raised-button color="primary">
                    Login
                </button>
            </form>
        </div>

        <div class="tab">
            <form [formGroup]="signupForm">
                <mat-form-field>
                    <mat-label>Email:</mat-label>
                    <input matInput type="email" formControlName="email"/>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Password:</mat-label>
                    <input matInput type="password" formControlName="password"/>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Confirm Password:</mat-label>
                    <input matInput type="password" formControlName="confirmPassword"/>
                </mat-form-field>
                <button mat-raised-button color="primary">
                    Sign Up!
                </button>
            </form>
        </div>

        <div class="tab">
            <form [formGroup]="contactForm">
                <mat-form-field>
                    <mat-label>Email:</mat-label>
                    <input matInput type="email" formControlName="email"/>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Message:</mat-label>
                    <input matInput type="text" formControlName="message"/>
                </mat-form-field>
                <button mat-raised-button color="primary">
                    Login
                </button>
            </form>
        </div>

    </div>

</div>  -->
