
@mixin flex-center($direction)
{
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}
.container{
    @include flex-center(column);
    height: 100vh;
    width: 100vw;
}

mat-card{
    @include flex-center(column);
    width: 350px;
    
    form{
        @include flex-center(column);
    }

}
button{
    margin-top: 10px;
}
mat-form-field{
    margin: 5px;
    width: 300px;
}

.loginCard
{
    margin-top: 20px;
    width: 350px;
    height: 50px;
   @include flex-center((row));
   a{
    margin-left:10px;
    color: white;
    text-decoration: none;
    &:hover{
        color:dodgerblue;
    }
   }

}

.myButton
{
    position: relative;
    display: flex;
    flex-direction: row;
    mat-progress-spinner{
        margin-top: 5px;
        display: inline-block;
        position: absolute;
        left: 20px;
    }
}
