
@mixin flex-center($direction)
{
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}
.container{
    @include flex-center(column);
    height: 100vh;
    width: 100vw;
}

mat-card{
    @include flex-center(column);
    width: 350px;
    
    form{
        @include flex-center(column);
    }

}
button{
    margin-top: 10px;
}
mat-form-field{
    margin: 5px;
    width: 300px;
}