<div class="container">
    <mat-card>

        <h1>Welcome!</h1>

        <form class="signupform" [formGroup]="signupForm" novalidate>

            <mat-form-field>
                <mat-label>Name:</mat-label>
                <input type="text" matInput formControlName="name">

                <mat-error *ngIf="signupForm.controls?.name?.touched && signupForm.controls?.name?.errors?.['required']">
                    Name is required!
                </mat-error>

            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Email:</mat-label>
                <input type="email" matInput formControlName="email">

                <mat-error *ngIf="signupForm.controls?.email?.touched && signupForm.controls?.email?.errors?.['required']">
                    Email is required!
                </mat-error>

                <mat-error *ngIf="signupForm.controls?.email?.touched && signupForm.controls?.email?.errors?.['email']">
                    Please enter valid email!
                </mat-error>
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Contact number:</mat-label>
                <input type="text" matInput formControlName="contact">
                <mat-error *ngIf="signupForm.controls?.contact?.touched && signupForm.controls?.contact?.errors?.['required']">
                    Contact is required!
                </mat-error>
                <mat-error *ngIf="signupForm.controls?.contact?.touched && signupForm.controls?.contact?.errors?.['lengthNotEqualToN']">
                  Please enter 10-digit contact number!
                </mat-error>
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Password:</mat-label>
                <input type="password" matInput formControlName="password">
                
                <mat-error *ngIf="signupForm.controls.password.touched && signupForm.controls?.password?.errors?.['required']">
                    Password is required!
                </mat-error>

                <mat-error *ngIf="signupForm.controls.password.touched && signupForm.controls?.password?.errors?.['minlength']">
                    Password should contain min 6 characters!
                </mat-error>

            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Confirm Password:</mat-label>
                <input type="password" matInput formControlName="confirmPassword">
                <mat-error *ngIf="signupForm.controls?.confirmPassword?.touched && signupForm.controls?.confirmPassword?.errors?.['required']">
                    Confirm Password is required!
                </mat-error>

               
            </mat-form-field>

            <mat-error *ngIf="signupForm?.touched && signupForm?.errors?.['dontMatch']">
                Passwords do not match !
            </mat-error>

            <button (click)="signUp()" mat-raised-button color="primary">Sign up!</button>
    
        </form>

    </mat-card>
</div>