
<ng-template #defaultButtonsTemplate let-tabs="tabs">
    <ul class="tab-group-buttons">
        <!-- Because Query List is an iterable -->
        <li [ngClass]="{selected:tab.selected}" 
             *ngFor="let tab of tabs" 
             (click)="select(tab)"
             >
            {{tab.label}}
        </li>
    </ul>
</ng-template>

<ng-container *ngIf="tabs !== undefined">
    <ng-container *ngTemplateOutlet=" headerTemplate ?? defaultButtonsTemplate;context:tabsContext">

    </ng-container>
</ng-container>
    <!-- For now show all tabs data! -->
    <ng-content></ng-content>