@mixin flex-center($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100vw;
    height: 90vh;
    @include flex-center(column);
}
.signupCard
{
    margin-top: 20px;
    width: 400px;
    height: 50px;
   @include flex-center((row));
   a{
    margin-left:10px;
    color: white;
    text-decoration: none;
    &:hover{
        color:dodgerblue;
    }
   }

}

form{
    @include flex-center(column);
    width: 400px;
}
mat-form-field{
    width: 300px;
    margin: 20px;
}
.myButton
{
    position: relative;
    display: flex;
    flex-direction: row;
    mat-progress-spinner{
        margin-top: 5px;
        display: inline-block;
        position: absolute;
        left: 20px;
    }
}
