
@mixin  flex-center($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}
a,div{
    @include flex-center(column);
    color:  white;
    text-decoration: none;
    box-sizing: border-box;
    width: max-content;
    padding: 10px 5px;
    height: 40px;
    border: 1px solid white;
    border-radius: 5px;
    margin-left: 10px;

}
nav{
    display: flex;
    div{
        margin-left: 75%;
        margin-top: 10px;
        cursor: pointer;
        &:hover{
            color:red;
        }
        &:active{
            transform: scale(0.96);
        }
    }
}

.activeLink{
    background-color: white;
    color: black;
    border-radius: 5px;
}