<app-routing-indicator></app-routing-indicator>
<mat-toolbar>
    <nav>
        <ng-container *ngIf="(authService.user$ | async) as user;else notLoggedIn">
            <a style="color: dodgerblue;" 
            [routerLink]="['home']"
            [routerLinkActive]="'activeLink'"
            >Hello {{user?.name}}</a>
            <a [routerLink]="['posts']" [routerLinkActive]="'activeLink'">Posts</a>
            <a [routerLink]="['comments']" [routerLinkActive]="'activeLink'">Comments</a>
            <a [routerLink]="['tabs']" [routerLinkActive]="'activeLink'">Tabs</a>
            <div (click)="logout()">Logout</div>
        </ng-container>
        <ng-template #notLoggedIn>
            <a [routerLink]="['login']" [replaceUrl]="false"  [routerLinkActive]="'activeLink'">Login</a>
            <a [routerLink]="['signup']"  [replaceUrl]="false" [routerLinkActive]="'activeLink'">SignUp</a>
        </ng-template>
    </nav>
</mat-toolbar>